{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acceso</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="{% static 'potrotransporte/bootstrap/css/bootstrap.css' %}">
  <script src="{% static 'potrotransporte/jquery.min.js' %}"></script>
  <script src="{% static 'potrotransporte/bootstrap/js/bootstrap.js' %} "></script>

    <style>
         .errorlist {
    list-style: none;
    }
    </style>

</head>
<body>

<nav class="navbar navbar-expand-md fixed-top-sm  bg-dark navbar-dark">
    <a href="{% url 'index' %}" class="navbar-brand">
        <img src="{% static 'potrotransporte/potroLogo.png' %}" width="30%"> Potro Transporte
    </a>
</nav>


<div id="container" class="container">
<div class="col-sm-6 offset-sm-3 text-center">
 <h1 class="display-4">Ingresar</h1>
<div class="info-form">

<form action="#" class="form-inlin justify-content-center" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.your_email.id_for_label }}">Correo Electronico</label>
        {{form.your_email}}
     </div>

    <div class="form-group">
    {{form.your_password.errors}}
        <label for="{{ form.your_password.id_for_label }}">Constraseña</label>
        {{form.your_password}}
     </div>

<div class="alert alert-primary" role="alert">
 {{form.non_field_errors}}
</div>



<div class="form-group">
<a href="{%url 'password_reset'%}" class="m-3">Olvidaste Constraseña</a>
</div>

<button type="submit" class="btn btn-dark">Acerder</button>

</form>


    </div>
</div>
</div>
</body>
</html>