{% extends "potrotransporte/tmpindex.html" %}
{%block titulo%}
Asistencia
{%endblock%}

{%block cuerpo %}

<div class="container-fluid">

 <noscript>
      <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
        Your web browser must have JavaScript enabled
        in order for this application to display correctly.
      </div>
    </noscript>



<div class="row">

    <div class="col-12">
    <div class="card">
        <div class="card-header bg-warning text-center"> Camara Asistencia </div>

        <div class="card-body bg-dark">

                <div class="row">
                    <div class="col-12">

                        <div class="fill">
                        <div class="qrscanner" id="scanner">
                        </div>
                        </div>

                    </div>

                    <div class="col-12">

                         <a href="#" id="btnStop" type="submit" class="btn btn-primary btn-block m-3" >Stop</a>
                    </div>
                </div>
</div>
    </div>
    </div></div>



    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Asistencia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">De:</label>
            <input type="text" class="form-control" id="recipient-name" readonly>
          </div>
            <div class="alert alert-light" id="server-results" role="alert">
                    </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>






<script>

var objeto;
var detener = false;

function onQRCodeScanned(scannedText)
    {

    var video = document.getElementById("scanner");
    video.style.display = "none";

    $('#exampleModal').modal('show');
    console.debug(scannedText);
    objeto.stopScanning();
    document.getElementById("recipient-name").value= scannedText;

    //jbScanner.stopScanning();


      //  var video = document.getElementById("scanner");
    //    if (video.style.display === "none") {
  //  video.style.display = "block";

//  } else {
    //video.style.display = "none";
    //$('#exampleModal').modal('show');
  //}



    	//var scannedTextMemo = document.getElementById("scannedTextMemo");
    	//if(scannedTextMemo)
    	//{
    	//	scannedTextMemo.value = scannedText;
    //		console.debug(scannedText);
    //	}
    //	var scannedTextMemoHist = document.getElementById("scannedTextMemoHist");
    //	if(scannedTextMemoHist)
    //	{
    //		scannedTextMemoHist.value = scannedTextMemoHist.value + '\n' + scannedText;
    //	}
    }

    function provideVideo()
    {
        var n = navigator;

        if (n.mediaDevices && n.mediaDevices.getUserMedia)
        {
          return n.mediaDevices.getUserMedia({
            video: {
              facingMode: "environment"
            },
            audio: false
          });
        }

        return Promise.reject('Your browser does not support getUserMedia');
    }

    function provideVideoQQ()
    {
        return navigator.mediaDevices.enumerateDevices()
        .then(function(devices) {
            var exCameras = [];
            devices.forEach(function(device) {
            if (device.kind === 'videoinput') {
              exCameras.push(device.deviceId)
            }
         });

            return Promise.resolve(exCameras);
        }).then(function(ids){
            if(ids.length === 0)
            {
              return Promise.reject('Could not find a webcam');
            }

            return navigator.mediaDevices.getUserMedia({
                video: {
                  'optional': [{
                    'sourceId': ids.length === 1 ? ids[0] : ids[1]//this way QQ browser opens the rear camera
                    }]
                }
            });
        });
    }

    //this function will be called when JsQRScanner is ready to use
    function JsQRScannerReady()
    {
        //create a new scanner passing to it a callback function that will be invoked when
        //the scanner succesfully scan a QR code
        var jbScanner = new JsQRScanner(onQRCodeScanned);
        //var jbScanner = new JsQRScanner(onQRCodeScanned, provideVideo);
        //reduce the size of analyzed image to increase performance on mobile devices
        jbScanner.setSnapImageMaxSize(300);
    	var scannerParentElement = document.getElementById("scanner");

    	objeto = jbScanner;
    	//console.debug(objeto);
    	if(scannerParentElement)
    	{
    	    //append the jbScanner to an existing DOM element
    		jbScanner.appendTo(scannerParentElement);

    	}


    }




$('#exampleModal').on('hidden.bs.modal',function (e){

var video = document.getElementById("scanner");
video.style.display = "block";
objeto.resumeScanning();
});

configurarCSRF();
$('#exampleModal').on('show.bs.modal',function (e){

enviarPeticionAsistencia();


});



function enviarPeticionAsistencia(){
     var data = {'Respuesta':'Asistencia','Usuario':document.getElementById("recipient-name").value};
     var metodo = 'POST';
     var all = new PeticionesV2("{%url 'Asistencia'%}",metodo,data,"#server-results");
     setTimeout(anuncio,6000);
}

function anuncio(){
  $('#exampleModal').modal('hide');
}


</script>


{%endblock%}

{%block pie %}
{%endblock%}