{% extends "potrotransporte/tmpindex.html" %}
{% load static %}
{%block titulo%}
Crear Ruta
{%endblock%}

{%block cuerpo%}


<main class="container-fluid" role="main">
    <div class="row">

        <div class="col-12 mb-3">
        <div class="card">
            <div class="card-header bg-dark"><h1 class="h1 mb-0 text-gray-800 text-light">Operador</h1></div>

            <div class="card-body">

                <div class="row">
                    <div class="col-12 mb-3">

                        <div class="card">
                        <div class="card-header bg-primary"> <h1 class="h1 mb-0 text-gray-800 text-light">Tabla de operadores</h1> </div>
                        <div class="card-body overflow-auto">

                          <table id="tablaOperador" class="table table-striped table-bordered " style="width:100%">

                  <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Licencia</th>
                <th>telefono</th>
                <th>Dirrecion</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>


             {%if ListaOperador%}


             {%for d in ListaOperador %}
               <tr>
               <td>{{d}}</td>
               <td>{{d.Licencia}}</td>
               <td>{{d.telefono}}</td>
               <td>{{d.Dirrecion}}</td>
               <td><button type="button" class="btn btn-primary">Editar</button></td>
               <td><button type="button" class="btn btn-primary">Eliminar</button></td>

               </tr>

             {%endfor%}

             {%else%}

             {%endif%}



           </table>


                        </div>
                        </div>


                    </div>
                    <div class="col-12 mb-3">

                        <div class="card">
                        <div class="card-header bg-primary"> <h1 class="h1 mb-0 text-gray-800 text-light">Agregar</h1>  </div>
                        <div class="card-body">

                                   <form class="m-3" action="#" method="post">
                    {% csrf_token %}

                          <div class="form-row">
                          {%for f in form2 %}
                            <div class="form-group col-md-6">
                            <label for="{{ f.id_for_label }}">{{f.name}}</label>
                                {{f}}
                            </div>
                          {%endfor%}



                      </div>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                 </form>


                        </div>
                        </div>

                    </div>
                </div>
                
            </div>

        </div>
        </div>

        <!--sssss-->

        <div class="col-12 mb-3">
        <div class="card">
            <div class="card-header bg-dark"><h1 class="h1 mb-0 text-gray-800 text-light">Transporte</h1></div>
            <div class="card-body">

                  <div class="row">
                    <div class="col-12 mb-3">

                        <div class="card">
                        <div class="card-header bg-primary"> <h1 class="h1 mb-0 text-gray-800 text-light">Tabla de Transporte</h1> </div>
                        <div class="card-body ">

                               <table id="tablaTransporte" class="table table-striped table-bordered " style="width:100%">

                  <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Matricula</th>
                <th>Operador</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>

             {%if ListaTransporte%}
             {%for d in ListaTransporte %}
               <tr>
               <td>{{d.Nombre}}</td>
               <td>{{d.Tipo}}</td>
               <td>{{d}}</td>
               <td>{{d.OperadorFK}}</td>
               <td><button type="button" class="btn btn-primary">Editar</button></td>
               <td><button type="button" class="btn btn-primary">Eliminar</button></td>

               </tr>

             {%endfor%}

             {%else%}

             {%endif%}





           </table>


                        </div>
                        </div>



                    </div>
                    <div class="col-12 mb-3">

                        <div class="card">
                        <div class="card-header bg-primary"><h1 class="h1 mb-0 text-gray-800 text-light">Agregar</h1> </div>
                        <div class="card-body">

                                      <form class="m-3" action="#" method="post">
                    {% csrf_token %}

                          <div class="form-row">
                          {%for f in form3 %}
                            <div class="form-group col-md-6">
                            <label for="{{ f.id_for_label }}">{{f.label}}</label>
                                {{f}}
                            </div>
                          {%endfor%}



                      </div>
                        <button type="submit" class="btn btn-primary">Agregar</button>
                 </form>


                        </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        </div>

        
        <!--ssssss-->

        <div class="col-12 mb-3">
        <div class="card">
            <div class="card-header bg-dark"><h1 class="h1 mb-0 text-gray-800 text-light">Ruta</h1></div>

            <div class="card-body">

                <div class="row">

                    <div class="col-12">

                        <div class="card">
                        <div class="card-header bg-primary"><h1 class="h1 mb-0 text-gray-800 text-light">Agregar</h1> </div>
                        <div class="card-body">

                            <div class="row">

                                <div class="col-12">

                                    <form class="m-3" action="#" method="post">
{% csrf_token %}
      <div class="form-row">
            <div class="form-group col-md-6">
       <label for="{{ form.NombreRuta.id_for_label }}">Nombre Ruta:</label>
            {{form.NombreRuta}}
            </div>

          <div class="form-group col-md-6">
       <label for="{{ form.Horario.id_for_label }}">Horario</label>
            {{form.Horario}}
            </div>

          <div class="form-group col-md-6">
       <label for="{{ form.Longitud.id_for_label }}">Longitud</label>
            {{form.Longitud}}
            </div>

                    <div class="form-group col-md-6">
       <label for="{{ form.Latitud.id_for_label }}">Latitud</label>
            {{form.Latitud}}
            </div>

            <div class="form-group col-md-6">
       <label for="{{ form.Transporte.id_for_label }}">Transporte</label>
            {{form.Transporte}}
            </div>


      </div>

          <div class="card border-left-primary shadow overflow-auto">
         <div class="card-header bg-primary"><h1 class="h1 mb-0 text-gray-800 text-light">Seleccione la Ruta</h1></div>

        <div id="mapid"  class="m-3 over-flow"  style="width: 50em; height: 40em;">

        </div>


    </div>
  <button type="submit" class="btn btn-primary m-3" value="Submit">Agregar</button>

     </form>

                                </div>



                            </div>

                        </div>
                        </div>


                    </div>

                </div>

            </div>

        </div>
        </div>

    </div>



</main>



<script>

  var greenIcon = L.icon({
    iconUrl: "{%static 'potrotransporte/potroParada.png'%}",
    iconSize:     [68, 45],// size of the icon
});

	var mymap = L.map('mapid').setView([19.298079, -98.95566], 15);

  	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);




 {%if rutas%}
    {%for rt in rutas%}

    L.marker([{{rt.Latitud}},{{rt.Longitud}}],{icon:greenIcon}).addTo(mymap)
	.bindPopup("<b>"+"{{rt.NombreRuta}}"+"</b><br />"+"{{rt.Horario}}" ).openPopup();

    {%endfor%}
    {%endif%}


var click=0;
var estacion = L.marker([19.2979537431625,-98.956743478775],{icon:greenIcon}).addTo(mymap)
	.bindPopup("<b>Esperando Nombre</b><br />Esperando Horario.").openPopup();




mymap.on('click', function(ev) {
    mymap.removeLayer(estacion);
    document.getElementById("id_Longitud").value = ev.latlng.lng;
    document.getElementById("id_Latitud").value = ev.latlng.lat;
    var nombre = $('#id_NombreRuta').val();
    var horario = $('#id_Horario').val();
    var texto = "<b>¡"+nombre+"!</b><br />"+horario
    estacion = L.marker([ev.latlng.lat,ev.latlng.lng],{icon:greenIcon}).addTo(mymap).bindPopup(texto).openPopup();
//    alert(ev.latlng); // ev is an event object (MouseEvent in this case)
});


    $(document).ready(function() {
        informacionTablas('#tablaOperador');
        informacionTablas('#tablaTransporte');
    });

</script>
{%endblock%}
{%block pie%}
{%endblock%}




