{% extends "potrotransporte/tmpindex.html" %}
{% load qr_code %}

{%block titulo%}
Datos
{%endblock%}
{%block cuerpo%}
<div class="container-fluid mt-5">
    <div class="row pt-2 mt-5">

        <div class="col ">
                <div class="card mb-5">
                    <div class="card-header bg-dark">
                    <h1 class="h1 mb-0 text-gray-800 text-light">Mis Datos</h1>
                    </div>
                          {% if user.is_authenticated%}
                            <div class="row m-3">
                               <div class="col">
                                <label>Nombres: {{user.first_name}}</label>
                               </div>
                              <div class="col">
                                <label>Apellidos:{{user.last_name}}</label>
                               </div>

                                <div class="col">
                                <label>Correo:{{user.email}}</label>
                               </div>
                            </div>
                           {%endif%}
                </div>
        </div>


        <div class="col-12">
            <div class="card">
                <div class="card-header bg-warning">
                    <h1 class="h1 mb-0 text-gray-800 text-light">QR</h1>
                </div>
                <div class="card-body">{%qr_from_text "Hello World!" size=20  %}</div>

            </div>


        </div>





    </div>
</div>
{%endblock%}


{%block pie%}
{%endblock%}