{% extends "potrotransporte/tmpindex.html" %}
{% load static %}
{% load auth_extras%}
{%block titulo%}
PotroTransporte
{%endblock%}

{%block cuerpo%}

<!--Inicio de CaruselAvisos -->

 {%if user.is_authenticated%}

<main class="container-fluid mb-3" role="main">



    <div class="row">

        <!--Inicio de Anuncio Tabla -->

        <div class="col-12 col-md-3 mb-3">


            <div class="row">
                <div class="col-12">


            <div class="card ">
                <div class="card-header bg-warning text-center">Anuncios</div>
                <div class="card-body bg-dark">





        <div class="list-group anyClass">




            {%for d in listaAvisos %}

                <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{d.titulo}}</h5>
            <small class="text-muted">{{d.fechaCreacion}}</small>
            </div>
            <p class="mb-1">{{d.mensaje}}</p>
            <small class="text-muted">Administrador</small>
            </a>

            {%endfor%}

                    </div>
                </div>
            </div>

                </div>

                 {%if request.user|has_group:"Administrativos" %}

                <div class="col ">

                            <div class="card">
                                <div class="card-header bg-warning text-center">Crear Anuncio</div>
                                <div class="card-body bg-dark">

                                    <form>
                                                                                <div class="form-group">
                                            <label for="tituloEntrada" class="text-light">Titulo:</label>
                                                    <input type="text" class="form-control" id="tituloEntrada" rows="3">
                                        </div>

                                        <div class="form-group">
                                            <label for="mensajeAnuncio" class="text-light">Mensaje:</label>
                                                    <textarea class="form-control" id="mensajeAnuncio" rows="3"></textarea>

                                        </div>
                                          <div class="alert alert-dark border border-dark bg-dark text-light" id="server-results2" role="alert">
                                         </div>
                                    </form>
                                    <button type="submit" class="btn btn-primary mb-2" onclick="eventoPublicar()">Publicar</button>


                                </div>
                            </div>




                </div>

                {%endif%}


            </div>


        </div>


        <!--Fin de Anuncio Tabla -->




        <!--Inicio de atajos de menu -->
        <div class="col">

            <div class="card bg-dark">
                <div class="card-body">

                   {%if request.user|has_group:"Operadores"%}

                    <div class="row">

                        <div class="col-12 mb-4">
                        <div class="card">
                            <div class="card-header bg-warning text-center">Ruta asignada</div>
                            <div class="card-body">

                            </div>
                        </div>

                        </div>

                        <div class="col-12 mb-4">
                                <div class="card">
                                    <div class="card-header bg-warning text-center">Iniciar Ruta:</div>
                                    <div class="card-body">
                                        <a class="btn btn-primary btn-block" href="{%url 'Asistencia'%}">Iniciar</a>
                                    </div>
                                </div>


                            </div>



                    </div>


                    {%else%}
                    <!--Inicio de dialogos -->


                    <div class="row">

                          <div class="col-12 col-md-4 mb-3">
                                                <div class="card">
                                                <div class="card-header bg-warning text-center""> Membresia </div>
                                                <div class="card-body">

                                                    {%if membresia%}


                                                    {%if membresia.get_EstadoPago_display == "Pendiente"%}
                                                    <div class="row">
                                                        <div class="col-12">
                                                        <div class="list-group">
                                                            <a class="list-group-item"><strong>Membresia:</strong> {{membresia.MembresiaFk.Nombre}}</a>
                                                            <a class="list-group-item"><strong>Costo al Alumno:</strong>$ {{membresia.MembresiaFk.costo}} MXN</a>
                                                           <a class="list-group-item"><strong>Costo total Membresia:</strong>$ {{membresia.MembresiaFk.costoPorDuracion}} MXN</a>
                                                            <a class="list-group-item"><strong>Fecha de creacion:</strong> {{membresia.FechaCreacion}}</a>
                                                            <a class="list-group-item"><strong>Estado:</strong> {{membresia.get_EstadoPago_display}}</a>
                                                        </div>
                                                        </div>
                                                        <div class="col-12">

                                                            <a href="#" type="submit" class="btn btn-primary btn-block " data-toggle="modal" data-target="#ModalCancelar">Cancelar</a>

                                                            <!--seccion cancelarMembresia-->
                                                            
                                                        </div>
                                                    </div>
                                                    {%else%}

                                                    <!--Inicio de Pagado -->

                                                    <div class="row">
                                                        <div class="col-12">
                                                        <div class="list-group">
                                                            <a class="list-group-item"><strong>Membresia:</strong> {{membresia.MembresiaFk.Nombre}}</a>
                                                           <a class="list-group-item"><strong>Costo Pagado:</strong>$ {{membresia.MembresiaFk.costoPorDuracion}} MXN</a>
                                                            <a class="list-group-item"><strong>Fecha de creacion:</strong> {{membresia.FechaCreacion}}</a>
                                                                            {%for d in membresia.detallepagomembresia_set.all %}
                                                                            <a class="list-group-item"><strong>Fecha Aprobacion:</strong>{{d.FechaAprobacion}} MXN</a>
                                                                      <a class="list-group-item"><strong>Vigencia:</strong> Del {{d.FechaInicio}} al {{d.FechaTerminacion}} MXN</a>

                                                            {%endfor%}
                                                            <a class="list-group-item"><strong>Estado:</strong> {{membresia.get_EstadoPago_display}}</a>
                                                        </div>
                                                        </div>

                                                    </div>


                                                    <!--Fin de Pagado -->


                                                    {%endif%}



                                                    {%else%}
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModalCenter">
                                                              Activar
                                                            </button>

                                                        </div>
                                                    </div>
                                                    {%endif%}


                                                </div>
                                                </div>

                                            </div>





                        <div class="col">
                            <div class="card ">
                                <div class="card-header bg-warning text-center">Rutas</div>
                                <div class="card-body ">


                                    <div class="row">





                                    <div class="col-12">
                                        <!--ajustar mapa https://stackoverflow.com/questions/16885707/sizing-leaflet-map-inside-bootstrap-->
                                        <div class="container fill">
                                                   <div id="mapid">

                                                    </div>
                                    </div>

                                        </div>

                                        <div class="col-12">

                                            {%if request.user|has_group:"Administrativos"%}
                                            <a href="{%url 'crear_ruta'%}" type="submit" class="btn btn-primary btn-block m-3">Crear</a>
                                                {%if membresia %}
                                                    {%if membresia.get_EstadoPago_display == "Pagado"%}

                                                        <a href="{%url 'Reserva'%}" type="submit" class="btn btn-primary btn-block m-3">Reservar Lugar</a>

                                                    {%endif%}
                                                {%endif%}
                                            {%else%}
                                                {%if membresia %}

                                                    {%if membresia.get_EstadoPago_display == "Pagado"%}

                                                    <a href="{%url 'Reserva'%}" type="submit" class="btn btn-primary btn-block m-3">Reservar Lugar</a>


                                                    {%endif%}

                                                {%endif%}
                                            {%endif%}


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    {%if Asistencia%}

                    <div class="col-12 mt-3">
                    <div class="card">
                        <div class="card-header bg-warning text-center">RutaReserva </div>
                        <div class="card-body">



                             <div class="row">
                                <div class="col-12">
                                <div class="list-group">
                                    {%for asis in Asistencia %}
                                    <a class="list-group-item"><strong>Ruta:</strong> {{asis.RutaFk}}</a>
                                    <a class="list-group-item"><strong>Fecha de Registro:</strong> {{asis.fechaRegistro}}</a>
                                    <a class="list-group-item"><strong>Turno:</strong> {{asis.get_turno_display}}</a>

                                    {%endfor%}

                                </div>
                                </div>
                             </div>



                        </div>
                    </div>

                    </div>


                    {%endif%}





                    </div>


                    <div class="row mt-3">




                         <div class="col">
                            <div class="card">
                                <div class="card-header bg-warning text-center">Ruta en Vivo</div>
                                <div class="card-body">
                                  <button type="submit" class="btn btn-primary btn-block">Proximamente</button>
                                </div>
                            </div>


                        </div>





                        {%if request.user|has_group:"Administrativos"%}
                        <div class="col">
                            <div class="card">
                                <div class="card-header bg-warning text-center">Cobro</div>
                                <div class="card-body ">
                                      <a href="{%url 'cobro_transporte'%}" type="submit" class="btn btn-primary btn-block">Generar Cobro</a>
                                </div>
                            </div>
                        </div>
                        {%endif%}






                    </div>


                    <!--Fin de dialogos -->
                                        {%endif%}

                </div>
            </div>
        </div>

        <!--Fin de atajos de menu -->





        </div>



</main>




<!-- Modal Activar -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title w-100 text-center text-light" id="exampleModalLongTitle">Activar Membresia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--Inicio de FormularioMembresia -->

                {% csrf_token %}
              <div class="form-group">
                  <label for="list1" class="col-sm-2 col-form-label">Membresia:</label>
              <select class="form-control" id="list1" onchange="precio()">
              </select>
              </div>

                <div class="form-group row">
                    <label for="staticPrecio" class="col-sm-2 col-form-label">Costo: </label>
                    <div class="col-sm-10">
                      <input type="submit" name="ActivarMembresia" class="form-control-plaintext" id="staticPrecio"  value="$.MXN">
                    <div class="alert alert-light" id="server-results" role="alert">
                    </div>
                    <input type="hidden" name="respuesta" id="respuesta" value="Activacion">
                  </div>



        <!--Fin de FormularioMembresia -->
          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary submitBtn" onclick="enviarPeticionMembresia()">Activar</button>
      </div>
    </div>
  </div>
</div>
</div>



<!-- Modal Cancelar -->
<div class="modal fade" id="ModalCancelar" tabindex="-1" role="dialog" aria-labelledby="ModalCancelarTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title w-100 text-center text-light" id="ModalCancelarLongTitle">Cancelar Membresia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <!--Inicio de FormularioMembresia -->
                {% csrf_token %}
          <h4><strong>¿Esta usted seguro de cancelar esta membresia?</strong></h4>
          <small class="form-text text-muted">Nota:si cancela podra apartar otra membresia esta se agregara a su historial</small>
          <input type="hidden" name="respuesta" id="valorMembresia" value="{{membresia.pk}}">
          <input type="hidden" name="respuestaCancelar" id="respuestaCancelar" value="Cancelacion">
          <div class="alert alert-light" id="server-results1" role="alert">
                    </div>


          <!--Fin de FormularioMembresia -->
      </div>
      <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary submitBtn submitBtn" onclick="cancelarPeticion()">Aceptar</button>
      </div>
    </div>
  </div>
</div>


<script>

  var greenIcon = L.icon({
    iconUrl: "{%static 'potrotransporte/potroParada.png'%}",
    iconSize:     [68, 45],// size of the icon
});


  var IconEscuela = L.icon({
  iconUrl: "{%static 'potrotransporte/LogoMapaUAEMEX.png'%}",
    iconSize:     [68, 45],// size of the icon
  });

	var mymap = L.map('mapid').setView([19.298079, -98.95566], 15);

  	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);




 {%if rutas%}
    {%for rt in rutas%}

    L.marker([{{rt.Latitud}},{{rt.Longitud}}],{icon:greenIcon}).addTo(mymap)
	.bindPopup("<b>"+"{{rt.NombreRuta}}"+"</b><br />"+"{{rt.Horario}}" );

    {%endfor%}
    {%endif%}

 L.marker([19.29944833573925,-98.95651817321779],{icon:IconEscuela}).addTo(mymap)
	.bindPopup("<b>UAEMEX</b><br />Valle de Chalco").openPopup();


mymap.on('click', function(ev) {
    mymap.removeLayer(estacion);
    document.getElementById("id_Longitud").value = ev.latlng.lng;
    document.getElementById("id_Latitud").value = ev.latlng.lat;
    var nombre = $('#id_NombreRuta').val();
    var horario = $('#id_Horario').val();
    var texto = "<b>¡"+nombre+"!</b><br />"+horario
    estacion = L.marker([ev.latlng.lat,ev.latlng.lng],{icon:greenIcon}).addTo(mymap).bindPopup(texto).openPopup();
//    alert(ev.latlng); // ev is an event object (MouseEvent in this case)
});



var mapmargin = 50;
$('#mymap').css("height", ($(window).height() - mapmargin));
$(window).on("resize", resize);
resize();
function resize(){

    if($(window).width()>=980){
        $('#mymap').css("height", ($(window).height() - mapmargin));
        $('#mymap').css("margin-top",50);
    }else{
        $('#mymap').css("height", ($(window).height() - (mapmargin+12)));
        $('#mymap').css("margin-top",-21);
    }

}

var listasPrecios=[];

function preciosMembresia() {
var x = document.getElementById('list1');



{%for d in listaMembresia %}
//console.debug("{{d}}");
var option = document.createElement("option");
option.text ="{{d}}";
option.value="{{d.duracion}}";
listasPrecios.push(["{{d.duracion}}","{{d.costoPorDuracion}}"]);
x.add(option);
{%endfor%}

 document.getElementById("staticPrecio").value ="$ " +listasPrecios[0][1]+" Pesos";


}

$( document ).ready(function() {
        preciosMembresia();

    });


function precio(){
 var x = document.getElementById("list1").value;

 for (var i = 0; i < listasPrecios.length; i++) {
 if(x == listasPrecios[i][0]){
 console.debug(listasPrecios[i][1]);
 document.getElementById("staticPrecio").value = "$ "+ listasPrecios[i][1]+" Pesos";
 }
 }

}
configurarCSRF();


function enviarPeticionMembresia(){
     $('.submitBtn').attr("disabled","disabled");
     var x = document.getElementById("list1").value;
     var respuesta = $('#respuesta').val();
     var data = {'Respuesta':respuesta,'ValSelect':x};
     var metodo = 'POST';
     var all = new Peticiones("{%url 'cobro_transporte'%}",metodo,data,"#server-results");
}

function cancelarPeticion(){
$('.submitBtn').attr("disabled","disabled");
var idMembresia = $('#valorMembresia').val();
var respuesta = $('#respuestaCancelar').val();
var data = {'Respuesta':respuesta,'idMembresia':idMembresia};
var metodo='POST';
var all = new Peticiones("{%url 'cobro_transporte'%}",metodo,data,"#server-results1");

}


function eventoPublicar(){
console.debug("Yes");
var titulo = $('#tituloEntrada').val();
var mensaje =  $('#mensajeAnuncio').val();
var data ={'Respuesta':'addAnuncio',
            'titulo':titulo,
            'mensaje':mensaje};

console.debug(data);
var all = new Peticiones("{%url 'index'%}",'POST',data,"#server-results2");

}

</script>



 {%else%}

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <!--Inicio de Indicadores -->

        <!--Fin de Indicadores -->

        <!--Inicio de Imagenes -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'potrotransporte/anuncio.png' %}" class="d-block w-100" alt="" width="1100" height="600">
            </div>
        </div>
        <!--Fin de Imagenes -->

        <!--Inicio de COntroles de imagen -->

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

        <!--Fin de COntroles de imagen -->


    </div>

<!--Fin de CaruselAvisos -->


 {%endif%}



{%endblock%}


