{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>PotroTransporte</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link rel="stylesheet" type="text/css" href="{% static 'potrotransporte/bootstrap/css/bootstrap.css' %}">
      <script src="{% static 'potrotransporte/jquery.min.js' %}"></script>
      <script src="{% static 'potrotransporte/bootstrap/js/bootstrap.js' %} "></script>
</head>


<header class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a href="{% url 'index' %}" class="navbar-brand">
        <img src="{% static 'potrotransporte/potroLogo.png' %}" width="30%"> Potro Transporte
    </a>


</header>

<div id="container" class="container">
<div class="col-xm-8 offset-sm-1 text-center">

    <div class="card m-3 ">
        <div class="card-header bg-dark">
            <h3 class="text-light" >¿Olvidaste tu contraseña?</h3>
        </div>

        <div class="info-form">
        <form method="post" class="form-inlin justify-content-center m-2">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_email">Ingrese su Correo Electronico</label>
                    <input class="form-control" id="id_email" type="email" name="email">
                </div>
            <button type="submit" class="btn btn-dark">Enviar</button>
         </form>
    </div>



    </div>




</div>
</div>

