{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enviando Correo</title>
          <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link rel="stylesheet" type="text/css" href="{% static 'potrotransporte/bootstrap/css/bootstrap.css' %}">
      <script src="{% static 'potrotransporte/jquery.min.js' %}"></script>
      <script src="{% static 'potrotransporte/bootstrap/js/bootstrap.js' %} "></script>
</head>
<body>

<header class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a href="{% url 'index' %}" class="navbar-brand">
        <img src="{% static 'potrotransporte/potroLogo.png' %}" width="30%"> Potro Transporte
    </a>


</header>

<div id="container" class="container">
    <div class="col-xm-8 offset-sm-1 text-center">
        <div class="card m-3 ">
            <div class="card-header bg-dark">
            <h3 class="text-light" >Mensaje</h3>
            </div>
            <p>
                Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó.Deberías recibirlos en breve.
            </p>
             <p>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró, y revisa tu carpeta de spam.</p>
        </div>
    </div>
</div>

</body>
</html>